<!-- navbar -->
<th:block th:fragment="navbar">
    <header>

        <nav class="text-bg-danger p-3 d-flex align-items-center">
            <h3 class="me-5">Mia Pizzeria</h3>

            <div class="d-flex gap-3">
                <a class="text-white text-decoration-none" th:href="@{/}" role="button">
                    <h4>Home</h4>
                </a>
                <a class="text-white text-decoration-none" th:href="@{/pizzas}" role="button">
                    <h4>Pizze</h4>
                </a>
                <a class="text-white text-decoration-none" th:href="@{/ingredients}" role="button">
                    <h4>Ingredienti</h4>
                </a>
            </div>

            <div class="ms-auto">
                <div sec:authorize="isAuthenticated()" class="d-flex align-items-center gap-3 text-white">
                    <div>
                        <small class="d-block">Utente:</small>
                        <strong th:text="${#authentication.name}"></strong>
                    </div>
                    <div>
                        <small class="d-block">Ruolo:</small>
                        <strong th:each="role : ${#authentication.authorities}" th:text="${role.authority}"></strong>
                    </div>
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-light btn-sm">Logout</button>
                    </form>
                </div>

                <div sec:authorize="isAnonymous()" class="text-white">
                    <a th:href="@{/login}" class="btn btn-light btn-sm">Login</a>
                </div>
            </div>
        </nav>
    </header>
</th:block>