<th:block th:fragment="pizzaCard(array)">
    <div class="row row-cols-4">
        <div class="col" th:each="item : ${array}">
            <a th:href="@{/pizzas/{id}(id=${item.id})}" class="text-decoration-none">
                <div class="card mb-4 border-0">
                    <img th:src="${item.imageURL}" class="card-img-top" th:alt="${item.name}">
                    <div class="card-body">

                        <h4 th:text="${item.name}" class="card-text"></h4>
                        <strong th:text="|${item.price} €|" class="card-text"></strong>

                    </div>
                </div>
            </a>
        </div>
    </div>
</th:block>