<th:block th:fragment="pizzaInfos(pizza)">
    <div class="container d-flex my-5" th:object="${pizza}">

        <div class="container">
            <img th:src="*{imageURL}" alt="*{name}" width="100%">
        </div>

        <div class="container">
            <h1 th:text="|Pizza *{name}|"></h1>
            <hr class="border border-danger border-2 opacity-100">

            <i th:text="*{description}"></i>
            <h4 th:text="|*{price} €|" class="my-3"></h4>

            <div>
                <h5>Offerte speciali</h>
                <hr class="border border-danger opacity-100">

                <div th:if="${#lists.isEmpty(pizza.getSpecialOfferts())}" class="alert alert-warning" role="alert">
                    Nessuna offerta per questa pizza
                </div>

                <div th:unless="${#lists.isEmpty(pizza.getSpecialOfferts())}">
                    <ul class="list-group list-group-flush">
                        <li th:each="offert : ${pizza.getSpecialOfferts()}" th:text="${offert.title}" class="list-group-item"></li>
                    </ul>
                </div>
            </div>


            <a th:href="@{/pizzas/{id}/specialoffert(id = *{id})}"><button type="button"
                    class="btn btn-success">Aggiungi offerta speciale</button></a>
        </div>

    </div>


</th:block>