<th:block th:fragment="pizzaCard(array)">
    <div class="row row-cols-4 my-4">
        <div class="col my-3" th:each="item : ${array}">
            <a th:href="@{/pizzas/{id}(id=${item.id})}" class="text-decoration-none">

                <div class="card border-0">

                    <img th:src="${item.imageURL}" class="card-img-top" th:alt="${item.name}">
                    <div class="card-body">

                        <h4 th:text="${item.name}" class="card-text"></h4>
                        <strong th:text="|${item.price} €|" class="card-text"></strong>

                    </div>
                </div>

            </a>
            
            <a th:href="@{/pizzas/edit/{id}(id=${item.id})}" class="btn btn-success btn-sm">
                <i class="fa-solid fa-pencil"></i>
            </a>
        </div>
    </div>
</th:block>