<th:block th:fragment="pizzaInfos(pizza)">
    <div class="container d-flex my-5" th:object="${pizza}">

        <div class="container">
            <img th:src="*{imageURL}" alt="*{name}" width="100%">
        </div>

        <div class="container">
            <h1 th:text="|Pizza *{name}|"></h1>
            <hr class="border border-danger border-2 opacity-100">

            <i>
                <span th:each="ingredient, iter : *{ingredients}">
                    <span th:text="${ingredient.name}"></span>
                    <span th:unless="${iter.last}">,</span>
                </span>
            </i>
            
            <h4 th:text="|*{price} €|" class="my-3"></h4>

            <div class="my-5">
                <h5>Offerte speciali</h5>
                    <hr class="border border-danger opacity-100">

                    <div th:if="${#lists.isEmpty(pizza.getSpecialOfferts())}" class="alert alert-warning" role="alert">
                        Nessuna offerta per questa pizza
                    </div>

                    <div th:unless="${#lists.isEmpty(pizza.getSpecialOfferts())}">
                        <ul class="list-group list-group-flush">
                            <li th:each="offert : ${pizza.getSpecialOfferts()}" class="list-group-item"
                                th:object="${offert}">
                                <a class="btn btn-primary btn-sm"
                                    th:href="@{/specialofferts/edit/{id}( id = ${offert.id} )}" sec:authorize="hasAuthority('ADMIN')"><i
                                        class="fa-solid fa-pencil"></i></a>
                                [[${offert.title}]]
                            </li>
                        </ul>
                    </div>

                    <a th:href="@{/pizzas/{id}/specialoffert(id = *{id})}" class="btn btn-success btn-sm my-2" sec:authorize="hasAuthority('ADMIN')">Aggiungi
                        offerta speciale</a>
            </div>

        </div>

    </div>


</th:block>