<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Ingredienti</title>

    <th:block th:replace="~{fragments/style :: styles}"></th:block>
</head>

<body>
    <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>

    <div class="container my-3">

        <div class="d-flex justify-content-between align-items-center">
            <h1>I nostri ingredienti</h1>
            <a th:href="@{/ingredients/create}" class="btn btn-success" sec:authorize="hasAuthority('ADMIN')">Aggiungi ingrediente</a>
        </div>


        <div th:if="${#lists.isEmpty(ingredients)}" class="alert alert-warning" role="alert">
            Nessun ingrediente disponibile
        </div>

        <div th:unless="${#lists.isEmpty(ingredients)}">

            <ul>
                <li th:each="ingredient : ${ingredients}" class="fs-4 fst-italic">
                    [[${ingredient.name}]]

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                        th:attr="data-bs-target=|#staticBackdrop-${ingredient.id}|" sec:authorize="hasAuthority('ADMIN')"><i class="fa-solid fa-trash"></i>
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" th:id="|staticBackdrop-${ingredient.id}|" data-bs-backdrop="static"
                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Elimina</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div th:text="|Eliminare ${ingredient.name}?|" class="modal-body"></div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Annulla</button>

                                    <form action="#" th:action="@{/ingredients/delete/{id}(id=${ingredient.id})}"
                                        method="post">
                                        <button class="btn btn-danger" type="submit" id="submitButton">Elimina</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>

        </div>

    </div>
    <th:block th:replace="~{fragments/style :: bootstrap-js}"></th:block>
</body>

</html>