<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Pizze</title>

    <th:block th:replace="~{fragments/style :: styles}"></th:block>
</head>

<body>
    <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>

    <div class="container my-3 text-center">

        <div class="d-flex justify-content-between align-items-center">
            <h1>Le nostre pizze</h1>
            <a th:href="@{/pizzas/create}" class="btn btn-success" sec:authorize="hasAuthority('ADMIN')">Aggiungi pizza</a>
        </div>


        <div th:if="${#lists.isEmpty(pizzas)}" class="alert alert-warning" role="alert">
            Nessuna pizza disponibile
        </div>

        <th:block th:unless="${#lists.isEmpty(pizzas)}" th:replace="~{fragments/pizzaCard :: pizzaCard(${pizzas})}">
        </th:block>

    </div>
    <th:block th:replace="~{fragments/style :: bootstrap-js}"></th:block>
</body>

</html>